/*.gamecategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
    height: 250px;
}
*/

.game-category {
    background: linear-gradient(180deg, #24248f ,#842aa2 100%);
    margin: auto auto;
    padding-bottom: 330px;
  }

.gamecategory-indexSort{
    display: flex; 
    margin: 0px 100px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.gamecategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.gamecategory-indexSort p span{
    font-family: 600;

}

.gamecategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    gap: 40px;
    color: white;
    font-weight: bold;
}

.gamecategory-products img {
    width: 200px; 
    height: 300px; 
}

.gamecategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 223px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:1280px){
    .gamecategory-banner{
        margin: 20px auto;
        width: 90%;
    }

    .gamecategory-indexSort{
        width: 90;
        margin: auto;
    }

    .gamecategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }

    .gamecategory-indexSort p{
        font-size: 12px;
    }

    .gamecategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .gamecategory-products .item{
        margin: auto;
    }

    .gamecategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width: 800px){
    .gamecategory-banner{
        width: 95%;
    }

    .gamecategory-products{
        grid-template-columns: 1fr 1fr;
    }

    .gamecategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media(max-width:500px){
    .gamecategory-products{
        grid-template-columns: 1fr 1fr;
    }
}

