.upcoming{
    width: 65%;
    height: 60hv;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: lightblue;
    align-items: center;
    border-radius: 10px;
}

.upcoming-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upcoming-left h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}

.upcoming-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 110px;
    cursor: pointer;
}

.upcoming-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

@media(max-width:1280px){
    .upcoming{
        padding: 0px 80px;
        margin-bottom: 120px;
    }

    .upcoming-left h1{
        font-size: 40px;
    }

    .upcoming-left p {
        font-size: 18px;
    }

    .upcoming-right img{
        width: 300px;
    }

    .upcoming-left button {
        width: 220px;
        height: 50px;
        font-size: 18px;
    }

    .upcoming-right{
        padding-top: 30px;

    }
}

@media(max-width:1024px){
    .upcoming{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }

    .upcoming-left h1{
        font-size: 30px;
    }

    .upcoming-left p {
        font-size: 16px;
    }

    .upcoming-right img{
        width: 200px;
    }

    .upcoming-left button {
        width: 160px;
        height: 40px;
        font-size: 16px;
    }

    .upcoming-right{
        padding-top: 10px;
    }
}

@media(max-width:800px){
    .upcoming{
        margin-bottom: 60px;
    }

    .upcoming-left h1{
        font-size: 22px;
    }

    .upcoming-left p {
        font-size: 13px;
    }

    .upcoming-right img{
        width: 180px;
    }

    .upcoming-left button {
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .upcoming{
        height: 25vh;
        margin-bottom: 50px;
    }

    .upcoming-left h1{
        font-size: 16px;
    }

    .upcoming-left p {
        font-size: 10px;
    }

    .upcoming-right img{
        width: 120px;
    }

    .upcoming-left button {
        align-items: center;
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }

}