.profile {
  padding: 20px;
  background: linear-gradient(180deg, #24248f ,#842aa2 100%);
  padding-bottom: 280px;
}

.profile-tabs {
  display: flex;
  gap: 10px;
}

.profile-tabs button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 800;
}

.profile-tabs .active-tab {
  background-color: red;
  color: white;
  border-radius: 10px;
}

.content-box {
  border: 1px solid #ccc;
  padding: 20px;
  background: white;
  margin-top: 40px;
}

.orders-container {
  margin-top: 20px;
}

.orders-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.order-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.order-title {
  flex: 2;
}

.order-price {
  flex: 1;
  text-align: left;
  margin-right: 40px;
}

.order-date {
  flex: 1;
  text-align: right;
}